* {
  font-family: 'fira sans', arial, sans-serif;
  color: white;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0 auto;
}

button {
  border: none;
  background-color: gray;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
}

button:hover {
  background-color: blue;
}

button:active {
  background-color: white;
  color: black;
}

input, textarea {
  color: black;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 25px;
  gap: 5px;
}

form > h1 {
  margin-top: 0;
}

li {
  list-style: none;
}

main {
  padding: 0 20% 0 20%;
  background-color: dimgray;
  height: calc(100vh - 75px);
}

main > div > h1 {
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  background-color: black;
  height: 50px;
  justify-content: space-between;
  padding: 0 15px 0 15px;
}

#navigation-controls {
  display: flex;
  gap: 5px;
}

#sessions-controls {
  display: flex;
  align-items: center;
  gap: 15px;
}

#sign-up-link {
  border: none;
  background-color: gray;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
}

#sign-up-link:hover {
  background-color: blue;
}

#sign-up-link:active {
  background-color: white;
  color: black;
}
