* {
  font-family: 'fira sans', arial, sans-serif;
  color: white;
}

body {
  margin: 0 auto;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 25px;
  gap: 5px;
}

main {
  padding: 0 20% 0 20%;
  background-color: dimgray;
  height: calc(100vh - 75px);
}

main > h1 {
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  background-color: black;
  height: 50px
}